button {
    position: relative;
    overflow: hidden;
    transition: all 100ms;
    color: #000;
    background-color: #fff;
    
    width:100%;
    font-size: 1.5rem;
    cursor: pointer;
  }

  span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgb(0, 0, 0);
  }
  
  @keyframes ripple {
    to {
      transform: scale(3);
      opacity: 0;
    }
  }
  img{
    object-fit: cover;
    overflow: hidden;
    transition: all 500ms;
    max-height: 2000px;
  }
  img:not(.opened){
    max-height: 0;
    opacity: 0.2;
  }
h1{
  transition: all .5s;
  opacity: 1;
}
h1:not(.res-showed){
  opacity: 0;
}





